<!DOCTYPE html>
<html>

<head>
    <title>Lab 6 Log In</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Log In</h1>
    <div>
        <!-- Create a log in form here -->
        <h1>Login</h1>
        <form action="">
            <label for="Email">Email: </label>
            <input type="text" id="Email" name="Email" placeholder="Email" name="Email" value="" required>
            <label for="pword">Password: </label>
            <input type="password" id="Password" name="Password" placeholder="Password" name="Password" value=""
                required>
            <br>
            <input for="login" type="submit">
        </form>
    </div>


    <br>
    <a href="/">
        <button type="button" id="home">Home</button>
    </a>
</body>

</html>